<a href="https://colab.research.google.com/github/irtushar/Batch-4-Introduction-to-cpp-for-DSA/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print

In [1]:
print("Hello World")

Hello World

In [2]:
print(12,12.5)

12 12.5

In [3]:
print("Hello! Tushar")

Hello! Tushar

If

In [13]:
if 5>2:
 print("True")

True

In [17]:
if 2<5:
  print("False")

False

In [18]:
if 5<=5:
  print("True")

True

Variables

In [21]:
x=5
y="Hello World"
print(x,y)

5 Hello World

In [25]:
x="Hello"
x=5
print(x)

5

In [28]:
x = 5
y = "John"
print(type(x)) #type means which category data(int,float,string{})
print(type(y))

<class 'int'>
<class 'str'>

In [30]:
x, y, z = "Orange", "Banana", "Cherry"
print(x, y, z)
print(y)
print(z)

Orange Banana Cherry
Banana
Cherry

In [32]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x, y, z)
print(y)
print(z)

apple banana cherry
banana
cherry

In [33]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [34]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [35]:
x = 5
y = 10
print(x + y)

15

In [36]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
x = 5
y = "John"
print(x , y)

5 John

In [38]:
x = "awesome" # we deaclear global variable outside the  function

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [42]:
def myfunc():
  global x #if we deaclear global variable inside function we should use global key word
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [43]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [44]:
x = "awesome" #To change the value of a global variable inside a function, refer to the variable by using the global keyword

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Built-in Data Types
Text Type:	      str

Numeric Types:	  int, float, complex

Sequence Types:	  list, tuple, range

Mapping Type:   	dict

Set Types:	      set, frozenset

Boolean Type:    	bool

Binary Types:	    bytes, bytearray, memoryview

None Type:	      NoneType

In [45]:
x = 5
print(type(x))

<class 'int'>

In [46]:
x = 5.5
print(type(x))

<class 'float'>

In [47]:
x = "Hello"
print(type(x))

<class 'str'>

In [48]:
x = 5j
print(type(x))

<class 'complex'>

In [49]:
x = ["apple", "banana", "cherry"] # here we use third bracket
print(type(x))

<class 'list'>

In [50]:
x = x = ("apple", "banana", "cherry") # here we use first bracket
print(type(x))

<class 'tuple'>

In [51]:
x = range(6)
print(type(x))

<class 'range'>

In [52]:
x = {"name" : "John", "age" : 36} #here we use : and second bracket
print(type(x))

<class 'dict'>

In [53]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [54]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [55]:
x = True
print(type(x))

<class 'bool'>

In [56]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [57]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [58]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [60]:
x = None
print(type(x))

<class 'NoneType'>

Python Numbers

In [61]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [62]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [63]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [64]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [65]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [66]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [67]:
import random

print(random.randrange(1, 10))

2